{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% if url %}
    <a href="{{ url }}">{{ image }}</a>
  {% else %}
    {{ image }}
  {% endif %}
</div>
